body {
    font-family: sans-serif;
}
  
.container {
    width: 500px;
    margin: 0 auto;
    /* background-color: rgb(88, 101, 99); */
    color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
  
form {
    /* border:2px solid blue; */
    margin-bottom: 20px;
    /* width:100%; */
}
  
input {
    width: 85%;
    font-size:16px;
    /* height:1rem; */
    padding: 10px;
    border: 1px solid #ccc;
}
  
button {
    cursor:pointer;
    padding: 10px;
    background-color: #ccc;
    border: 1px solid #ccc;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
  
.task {
    font-size: 16px;
}
  
.completed {
    text-decoration: line-through;
}
  
.incomplete {
    text-decoration: none;
}
.complete-button, .delete-button {
    float: right;
    padding: 5px;
    cursor: pointer;
}
  
.complete-button i {
    color: green;
    font-size: 17px;;
}
  
.delete-button i {
    color: red;
    font-size: 17px;;

}
  
.remove-task-button {
    cursor:pointer;
    margin:0 auto;
    margin-top: 50px;
    padding: 10px;
    background-color: #ccc;
    border: 1px solid #ccc;

}
  