body {
    font-family: 'Times New Roman', Times, serif;
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

  }

  h1 {
    position: absolute;
    top: 0;
    text-align: center;
    z-index: 1;
    margin-top:4rem;
    font-size: 40px;
    font-weight: bold;
     color: rgba(15, 28, 22, 0.712);
    border-bottom: 3px solid rgba(15, 28, 22, 0.712);
  }
  .container {
    min-width: 70%;
    margin: 0 auto;
    max-height:60vh;    
  }

  form{ 
    display: flex;
    margin-bottom: 20px;   
    min-height:50px;

  }
  
  input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size:20px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .submit{
    width:15%;
    font-size: 20px;
    background-color: rgba(67, 92, 81, 0.712);

  }

  button {
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
  }

  button:hover{
    background-color: rgba(14, 175, 130, 0.298);
    color:black;
  }
  
  ul {
    list-style: none;
    padding: 0;
    bottom:0; 
  }
  
  li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #ccc;
    font-size: 20px;
    text-transform: capitalize;
  }
  
  .task {
    flex-grow: 1;
  }
  
  .complete-button,
  .delete-button {
    margin-right: 10px;
    background: none;
    color:black
  }
  
  .complete-button:hover,
  .delete-button:hover{
    scale:1.2;
    background: none;
  }

  .complete-button i,
  .delete-button i {
    font-size: 20px;

  }
  
  .completed {
    text-decoration: line-through;
    color: #958989;
  }
  
  .remove-task-button {
    background-color: rgba(67, 92, 81, 0.712);
    display: none;
    margin:0 auto;
    margin-top: 20px;
    font-size: 16px;
    margin-top:3rem;
    /* border:2px solid red; */
  }
  
  .completed-text {
    color: green;
  }
  
  .incomplete-text {
    color: red;
  }
  